body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('fondo.png');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    animation: fadeIn 1.5s ease-in-out;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #7289DA;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

input:focus {
    transform: scale(1.05);
}

button {
    padding: 10px 20px;
    background-color: #7289DA;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #5A6FB2;
    transform: scale(1.1);
}

/* Mensajes de estado */
#statusMessage {
    margin-top: 20px;
    font-weight: bold;
}

/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}