/* Fondo con imagen */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url('imagenes/c3fb435d224eeedae9486ea8778b1746.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Mantiene el fondo estático */
    color: white;
    height: 100vh;
    overflow: hidden;
    animation: fadeInBackground 2s ease-in-out;
}

/* Animación de fade-in en el contenido */
.fade-in {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Animación de botón */
button {
    background-color: #ff007f;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    animation: pulse 1s infinite alternate;
}

button:hover {
    background-color: #ff4d94;
}

@keyframes pulse {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
}

/* Animación del fondo cuando carga */
@keyframes fadeInBackground {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
